certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
dill==0.3.4
Flask==2.0.2
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mpmath==1.2.1
ntlm-auth==1.5.0
numpy==1.22.0
pbr==5.8.0
ply==3.11
psutil==5.9.0
pycparser==2.21
pymongo==4.0.1
python-constraint==1.4.0
python-dateutil==2.8.2
qiskit==0.34.1
qiskit-aer==0.10.2
qiskit-ibmq-provider==0.18.3
qiskit-ignis==0.7.0
qiskit-terra==0.19.1
requests==2.27.1
requests-ntlm==1.1.0
retworkx==0.10.2
scipy==1.7.3
six==1.16.0
stevedore==3.5.0
sympy==1.9
tweedledum==1.1.1
urllib3==1.26.8
websocket-client==1.2.3
Werkzeug==2.0.2
